:root {
  --main-color: #599ed9;
  --light-color: #90c3f0;
  --light-bg-color: #ffffff;
  --dark-bg-color: #222222;
}

body,
html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: var(--light-bg-color);
  font-family: 'Open Sans', Arial, sans-serif;
  margin-bottom: 40px;
}

footer {
  position: fixed;
  height: 40px;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: var(--light-bg-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Open Sans', Arial, sans-serif;
}

p {
  line-height: 1.3em;
}

a, .btn-link {
  color: var(--main-color);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:focus,
a:hover,
.btn-link:focus,
.btn-link:hover {
  color: var(--light-color);
}

.btn-primary {
  background-color: var(--main-color);
  border-color: var(--main-color);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

.btn-primary:focus,
.btn-primary:hover {
  background-color: var(--light-color);
  border-color: var(--light-color);
}

.tab-content {
  margin: 20px;
}

hr {
  border-color: var(--main-color);
}

hr.light {
  border-color: var(--light-bg-color);
}

hr.dark {
  border-color: var(--dark-bg-color);
}

.bg-light {
  background-color: var(--light-bg-color) !important;
}

.bg-primary {
  background-color: var(--main-color) !important;
}

.bg-faded {
  background-color: var(--light-color) !important;
}

.bg-dark {
  color: white;
  background-color: var(--dark-bg-color) !important;
}

.text-title {
  font-size: 30px;
}

.text-black {
  color: #555555;
}

.text-grey {
  color: #777777;
}

.text-light {
  color: var(--light-bg-color);
}

.text-primary {
  color: var(--main-color) !important;
}

.text-faded {
  color: var(--light-color);
}

/* Feature specific */

.faq-spacer {
  margin: 30px;
}

.faq-question {
  font-weight: bold;
  font-size: 16px;
}

.fixed-scroll {
  position: fixed;
  height: 100px;
  overflow-x: scroll;
}